@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    color: purple;
    background-image: url(background.jpg);
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.title{
    font-size: 1.5em;
    margin-right: 30vw;
    font-weight: bold;
}
p{
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 50px;
    font-family: 'Gloock', serif;
}
h3 {
    font-size: 30px;
    font-family: 'Gloock', serif;
}
.shadow {
    border-radius: 20px;
    box-shadow: 0px 0px 0px 3px purple;
    margin-right: 10vw;
    margin-left: 10vw;
    background-color: rgb(223, 223, 223);
}
.intro {
    padding: 20px;
    text-align: center;
}
iframe{
    box-shadow: 0px 0px 10px 3px purple;
    border-radius: 20px;
}
.map {
    padding: 20px;

}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    display: block;
    color: purple;
    border: 2px solid purple;
    background-color: rgb(217, 235, 235);
    margin: 15px 0;
    transition: 0.5s;
    width: 122px;
}
nav ul li a:hover{
    color: purple;
    background-color: pink;
    font-weight: bold;
}
.barshadow{
    box-shadow: 0px 0px 10px 3px purple;
    border-radius: 50px;
}
.pl{
    float: left;
    width: 40%;
    margin-left: 7vw;
}
.pr{
    float: right;
    width: 40%;
    margin-right: 7vw;
}
.pm{
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
img[src*="Title-left.png"] {
    width: 60px;
}
img[src*="Title-right.png"] {
    width: 60px;
}