@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: purple;
    background-color: white;
    display: inline-block;
    text-align: center;
}

.title{
    font-size: 1.5em;
    margin-right: 30vw;
}
p{
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 50px;
    font-family: 'Gloock', serif;
    padding-bottom: 0.5em;
}
h3 {
    font-size: 30px;
    font-family: 'Gloock', serif;
}
.shadow {
    border-radius: 20px;
    box-shadow: 0px 0px 0px 3px purple;
    margin-right: 20vw;
    margin-left: 20vw;
}
.intro {
    padding: 20px;
    text-align: center;
}
iframe{
    box-shadow: 0px 0px 10px 3px purple;
    border-radius: 20px;
}
.map {
    padding: 20px;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: purple;
    border: 2px solid purple;
    margin: 15px 0;
    transition: 0.5s;
    width: 122px;
}
nav ul li a:hover{
    color: purple;
    background-color: pink;
    font-weight: bold;
}
.barshadow{
    box-shadow: 0px 0px 10px 3px purple;
    border-radius: 50px;
}
